<html>
    <body>
        <p>
            <h2>Url Traffic Analysis</h2>
            <h2>for Page One</h2>
        </p>
        <p>
            <pre>http://127.0.0.1:5000/page1</pre>
        </p>

        <table border="1">
            <tr>
                <th colspan="4">
                    LAST 24 HOURS
                </th>
            </tr>
            <tr>
                <th style="width: 10em">
                    Hour
                </th>
                <th style="width: 10em">
                    URL
                </th>
                <th style="width: 10em">
                    Visits
                </th>
                <th style="width: 10em">
                    Transfer
                </th>
            </tr>
            {% for entry in stats['hour'][:24] %}
            <tr>
                <td>
                    {{entry.date | datetime }}
                </td>
                <td>
                    {{entry.url}}
                </td>
                <td>
                    {{entry.hits}}
                </td>
                <td>
                    {{entry.transfer}}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">
                    <i>no stats yet</i>
                </td>
            </tr>
            {% endfor %}
        </table>
        <table border="1">
            <tr>
                <th colspan="4">
                    LAST 30 DAYS
                </th>
            </tr>
            <tr>
                <th style="width: 10em">
                    Date
                </th>
                <th style="width: 10em">
                    URL
                </th>
                <th style="width: 10em">
                    Visits
                </th>
                <th style="width: 10em">
                    Transfer
                </th>
            </tr>
            {% for entry in stats['day'][:30] %}
            <tr>
                <td>
                    {{entry.date | datetime(format='%Y-%m-%d')}}
                </td>
                <td>
                    {{entry.url}}
                </td>
                <td>
                    {{entry.hits}}
                </td>
                <td>
                    {{entry.transfer}}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">
                    <i>no stats yet</i>
                </td>
            </tr>
            {% endfor %}
        </table>
        <table border="1">
            <tr>
                <th colspan="4">
                    LAST 12 MONTHS
                </th>
            </tr>
            <tr>
                <th style="width: 10em">
                    Month
                </th>
                <th style="width: 10em">
                    URL
                </th>
                <th style="width: 10em">
                    Visits
                </th>
                <th style="width: 10em">
                    Transfer
                </th>
            </tr>
            {% for entry in stats['month'][:12] %}
            <tr>
                <td>
                    {{entry.date | datetime(format='%Y-%m')}}
                </td>
                <td>
                    {{entry.url}}
                </td>
                <td>
                    {{entry.hits}}
                </td>
                <td>
                    {{entry.transfer}}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">
                    <i>no stats yet</i>
                </td>
            </tr>
            {% endfor %}
        </table>
        <p>
            <a href="/">Back to main</a>
        </p>
    </body>
</html>